<pages enableViewState="false" buffer="true"></pages>

@{
    Layout = null;
}

<h2 style="color:red;">Unable to retrieve report content! Please check the parameters or make sure your profile existed!</h2>