<pages enableViewState="false" buffer="true"></pages>

<div class="panel panel-warning">
    <div class="panel-heading">
        <h3 class="panel-title">Password Reset Successfully</h3>
    </div>
    <div class="panel-body">
        <button class="btn btn-sm control_buttons" onclick="window.location.href='@Url.Action("Login", "Account")';">
            <img src="@Url.Content("~/Content/images/icon_back.png")" title="Back to Login" />
            <span>Back to Login</span>
        </button>
        <p>
            <div style="height:20px;"></div>
            <div class="alert alert-info">Your password successfully changed. You can use it to login.</div>        
        </p>
    </div>
</div>
