<?xml version="1.0" encoding="utf-8"?>
<!--

  For more information on how to configure your ASP.NET application, please visit

  http://go.microsoft.com/fwlink/?LinkId=169433

  -->
<configuration>
  <configSections>
    
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <!-- DEV  -->
    <add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Data Source=DWT16-IT1\SQLEXPRESS2019;Initial Catalog=medicalbillingsystem2017;User ID=sa;Password=i@mF1nes;Trusted_Connection=False;Encrypt=False;" />
    <add name="MedicalBillingSystemEntities" connectionString="metadata=res://*/MBS_Data_Model.csdl|res://*/MBS_Data_Model.ssdl|res://*/MBS_Data_Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=DWT16-IT1\SQLEXPRESS2019;Initial Catalog=medicalbillingsystem2017;User ID=sa;Password=i@mF1nes;Trusted_Connection=False;Encrypt=False;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!-- UAT -->
     <add
      name="MSBApiConnection"
      connectionString="Url=https://cp.cmcs-skh.ca;
          ClientId=SyokUFc2KGY9pbabmy37fkWK8BGuyK5F;
          ClientSecret=3Y2P8TbTc3HAByHFltHxPgpNnNw98xm00IS_4R82PU2v06-HjaKd3K-s_vLRCaY0;
          AuthenticationUrl=https://sk-pre-prod.manitobabluecross.auth0.com/oauth/token;
          MaxRetries=3;
          SubmitClaimPath=/pre-prod/CustomerPortal/vendor/upload;
          DailyReturnFileListPath=/pre-prod/CustomerPortal/vendor/pick-reports/daily-returns;
          DailyReturnDownloadPath=/pre-prod/CustomerPortal/vendor/pick-reports/download-daily-returns;
          BiWeeklyReturnFiListPath=/pre-prod/CustomerPortal/vendor/pick-reports/remittance;
          BiWeeklyReturnDownloadPath=/pre-prod/CustomerPortal/vendor/pick-reports/download-remittance;"
      />
    <!-- Prod -->
    <!--<add
         name="MSBApiConnection"
         connectionString="Url=https://msbcustomerportal.ehealthsask.ca;
            ClientId=gd2pau8QRYm2Tso8v11SSI9klIiSoPsz;
            ClientSecret=hN9L5pvT1z1iSgUy9ofkwJNQ1xwWthFNyxKk5VSObyVVkPCizPmiu-SVhWs0tPu6;
            AuthenticationUrl=https://sk-prod.manitobabluecross.auth0.com/oauth/token;
            MaxRetries=3;
            SubmitClaimPath=/prod/CustomerPortal/vendor/upload;
            DailyReturnFileListPath=/prod/CustomerPortal/vendor/pick-reports/daily-returns;
            DailyReturnDownloadPath=/prod/CustomerPortal/vendor/pick-reports/download-daily-returns;
            BiWeeklyReturnFiListPath=/prod/CustomerPortal/vendor/pick-reports/remittance;
            BiWeeklyReturnDownloadPath=/prod/CustomerPortal/vendor/pick-reports/download-remittance;"
        />-->
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="TimeZoneOffset" value="-6" />
    <add key="NumberOfDailyReturnFilesToGet" value="14" />
    <add key="NumberOfBiWeeklyReturnFilesToGet" value="4" />
    <add key="NumberOfDaysToGetForDailyReturnFiles" value="-14" />
    <add key="NumberOfDaysToGetForBiWeeklyReturnFiles" value="-65" />
    <add key="CertExpiryNotificationDays" value="60" />
    <add key="CertExpiryNotificationEmail" value="colin@perspect.ca" />

    <add key="InterfaxUserName" value="perspect"/>
    <add key="InterfaxPassword" value="6Mtaa5OijBw2JdjN"/>
    <add key="WCBFaxNumber" value="13065965976" />
    <add key="ICSSite" value="https://efq-ics.ehealthsask.ca" /> 

    <!--<add key="ICSSite" value="https://ics.ehealthsask.ca" /> 
    <add key="WCBFaxNumber" value="13067874311"/>
    <add key="InterfaxUserName" value="perspect"/>
    <add key="InterfaxPassword" value="6Mtaa5OijBw2JdjN"/>-->
    <add key="SupportEmail" value="ben@perspect.ca" />
    <add key="PasswordTokenExpiryMinute" value="10" />
    <add key="TriggerExpression" value="0 15 3-6 ? * *" />  <!-- Every 15 minutes from 3am to 6 am -->
    <add key="TriggerPendingClaimsExpression" value="0 0/55 * 1/1 * ? *" /> <!-- Every 10 minutes -->
    <add key="LogPath" value="C:\\MSBLogs\\" />
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.7.2" />
      </system.Web>
  -->
  <system.web>
    <!--<sessionState mode="StateServer"
    stateConnectionString="tcpip=127.0.0.1:42424"
    cookieless="false"
    timeout="30"/>-->
    <globalization requestEncoding="UTF-8" responseEncoding="UTF-8" uiCulture="en-CA" culture="en-CA" />
    <httpRuntime targetFramework="4.7.1" maxRequestLength="5000" />
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login" timeout="60" slidingExpiration="true" />
    </authentication>
    <compilation targetFramework="4.8" debug="true">
      <assemblies>
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
        <add namespace="System.Web.Optimization" />
      </namespaces>
    </pages>
    <profile enabled="true" defaultProvider="DefaultProfileProvider">
      <providers>
        <add name="DefaultProfileProvider" type="System.Web.Providers.DefaultProfileProvider, System.Web.Providers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="Medical Billing System" />
      </providers>
    </profile>
    <membership defaultProvider="DefaultMembershipProvider">
      <providers>
        <add connectionStringName="DefaultConnection" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="true" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="7" minRequiredNonalphanumericCharacters="1" passwordAttemptWindow="10" passwordStrengthRegularExpression="(?=.{7,})(?=(.*\d){1,})(?=(.*\W){1,})" applicationName="Medical Billing System" name="DefaultMembershipProvider" type="System.Web.Providers.DefaultMembershipProvider, System.Web.Providers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <!--<add connectionStringName="DefaultConnection" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="true" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="7" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="Medical Billing System" name="DefaultMembershipProvider" type="System.Web.Providers.DefaultMembershipProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />-->
      </providers>
    </membership>
    <roleManager enabled="true" defaultProvider="DefaultRoleProvider">
      <providers>
        <add connectionStringName="DefaultConnection" applicationName="Medical Billing System" name="DefaultRoleProvider" type="System.Web.Providers.DefaultRoleProvider, System.Web.Providers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </providers>
    </roleManager>
    <customErrors mode="RemoteOnly" defaultRedirect="/app/error.html">
      <error statusCode="404" redirect="/app/error.html" />
    </customErrors>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <httpErrors errorMode="Detailed" />
  <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="billinginfo@perspect.ca">
        <network host="mail.perspect.ca" enableSsl="false" port="25" userName="billinginfo@perspect.ca" password="Dei3oohu" />
      </smtp>
    </mailSettings>
  </system.net>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.1.0.0" newVersion="5.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.1.0.0" newVersion="5.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging.Core" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.4.1.0" newVersion="3.4.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.4.1.0" newVersion="3.4.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="InterFaxSoap">
          <security mode="Transport" />
        </binding>
        <binding name="InterFaxSoap1" />
      </basicHttpBinding>
      <customBinding>
        <binding name="InterFaxSoap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpsTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="https://ws.interfax.net/dfs.asmx" binding="basicHttpBinding" bindingConfiguration="InterFaxSoap" contract="InterfaxService.InterFaxSoap" name="InterFaxSoap" />
      <endpoint address="https://ws.interfax.net/dfs.asmx" binding="customBinding" bindingConfiguration="InterFaxSoap12" contract="InterfaxService.InterFaxSoap" name="InterFaxSoap12" />
    </client>
  </system.serviceModel>
</configuration>