
.error {
    color: #e80c4d;
}

/* styles for validation helpers */
.field-validation-error {
    color: #e80c4d;
    font-weight: bold;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #e80c4d;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #e80c4d;
    font-weight: bold;
    font-size: 1.1em;
}

.validation-summary-valid {
    display: none;
}

h3.breadcrumb-header {
    color: #646464;
    margin-bottom: 0px;
}

h3.breadcrumb-header a {
    color: #2171c3;
 }

span.error_indicator {
    display: inline-block;
    color: red;
    cursor: pointer;
}

.control_buttons img { 
    width: 16px; 
    height: 16px; 
    vertical-align: text-bottom;
    margin-top: -3px;
    margin-right: 3px; 
    cursor: pointer; 
}

.control_buttons span {
    display: inline-block;
    margin-top: 3px;
    font-size: 12px;
    font-weight:bold;
}

table tr
{
    height: 42px;
}

.timeSpanDanger
{
    color: red;
    font-weight:bolder;
}

.timeSpanWarning
{
    color: deeppink;
    font-weight:bolder;
}

.timeSpanStart
{
    color: #f0ad4e;
    font-weight:bolder;
}