<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  <section name="entityFramework"
      type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
      requirePermission="false"/>
  </configSections>
  <appSettings>
    <add key="SupportEmail" value="poch_ben@hotmail.com"/>
    <add key="TimeZoneOffset" value="-6"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v12.0"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="MedicalBillingSystemEntities"
      connectionString="metadata=res://*/MBS_Data_Model.csdl|res://*/MBS_Data_Model.ssdl|res://*/MBS_Data_Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=DWT16-IT1\SQLEXPRESS2019;Initial Catalog=medicalbillingsystem2017;User ID=sa;Password=i@mF1nes;Trusted_Connection=False;Encrypt=False;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient"/>
    <!-- UAT
    <add
        name="MSBApiConnection"
        connectionString="Url=https://cp.cmcs-skh.ca;
            ClientId=SyokUFc2KGY9pbabmy37fkWK8BGuyK5F;
            ClientSecret=3Y2P8TbTc3HAByHFltHxPgpNnNw98xm00IS_4R82PU2v06-HjaKd3K-s_vLRCaY0;
            AuthenticationUrl=https://sk-pre-prod.manitobabluecross.auth0.com/oauth/token;
            MaxRetries=3;
            SubmitClaimPath=/pre-prod/CustomerPortal/vendor/upload;
            DailyReturnFileListPath=/pre-prod/CustomerPortal/vendor/pick-reports/daily-returns;
            DailyReturnDownloadPath=/pre-prod/CustomerPortal/vendor/pick-reports/download-daily-returns;
            BiWeeklyReturnFiListPath=/pre-prod/CustomerPortal/vendor/pick-reports/remittance;
            BiWeeklyReturnDownloadPath=/pre-prod/CustomerPortal/vendor/pick-reports/download-remittance;"
        /> -->
    <!-- Prod -->
    <add name="MSBApiConnection"
      connectionString="Url=https://msbcustomerportal.ehealthsask.ca;
        ClientId=gd2pau8QRYm2Tso8v11SSI9klIiSoPsz;
        ClientSecret=hN9L5pvT1z1iSgUy9ofkwJNQ1xwWthFNyxKk5VSObyVVkPCizPmiu-SVhWs0tPu6;
        AuthenticationUrl=https://sk-prod.manitobabluecross.auth0.com/oauth/token;
        MaxRetries=3;
        SubmitClaimPath=/prod/CustomerPortal/vendor/upload;
        DailyReturnFileListPath=/prod/CustomerPortal/vendor/pick-reports/daily-returns;
        DailyReturnDownloadPath=/prod/CustomerPortal/vendor/pick-reports/download-daily-returns;
        BiWeeklyReturnFiListPath=/prod/CustomerPortal/vendor/pick-reports/remittance;
        BiWeeklyReturnDownloadPath=/prod/CustomerPortal/vendor/pick-reports/download-remittance;"/>
       
  </connectionStrings>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target name="file" xsi:type="File" layout="${longdate} ${message}"
        fileName=".\LogFiles\Log_${cached:cached=true:inner=${date:format=yyyy-MM-dd-HH-mm-ss}}.txt" concurrentWrites="true" keepFileOpen="false"
        encoding="iso-8859-2"/>
    </targets>
    <rules>
      <logger name="*" minlevel="Debug" writeTo="file"/>
    </rules>
  </nlog>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="billinginfo@perspect.ca">
        <network host="mail.perspect.ca" enableSsl="false" port="25" userName="billinginfo@perspect.ca" password="Dei3oohu"/>
      </smtp>
    </mailSettings>
  </system.net>
</configuration>
